.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
}

.search-input {
    width: 250px;
    margin: 0 0 0 30px;
    padding: 10px 40px 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

.select-container{
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 7px;
    background-color: white;
    color: #333;
    cursor: pointer;
    outline: none;
}

.select-container option {
  padding: 10px;
  background-color: white;
  color: #333;
}


