<div class="categorias">
    @for (categoria of categorias(); track categoria.id) {
    <button 
        (click)="seleccionarCategoria(categoria.id!)" 
        [class.seleccionada]="categoriaSeleccionada() === categoria.id">
        {{ categoria.nombre }}
    </button>
    }
</div>

<section class="productos">
    <h2>PRODUCTOS</h2>

    <div class="productos-grid">
        @for (producto of productosFiltrados(); track producto.id) {
        <div class="producto-card">

            <div class="producto-imagen">
                <img 
                    [src]="producto.imagen" 
                    [alt]="producto.nombre">
            </div>

            <h3 class="nombre-prod">{{ producto.nombre }}</h3>

            <span class="precio-prod">${{ producto.precio }}</span>

            <button 
                class="btn-add"
                (click)="agregarProducto(producto)">
                +
            </button>
        </div>
        }
    </div>
</section>
<app-resumen-compra
    [pelicula]="pelicula()"
    [funcion]="funcion()"
    pantalla="candybar"
>
</app-resumen-compra>